<!-- footer wrapper -->
<section class="footer-wrapper pad-75 bg-lightblue">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <ul class="social-icons-two light list-inline">
          <li class="list-inline-item"><a href="https://twitter.com/makelajussi"><i class="icon-twitter"></i></a></li>
          <li class="list-inline-item"><a href="https://www.linkedin.com/in/makelajussi/"><i class="icon-linkedin"></i></a></li>
          <li class="list-inline-item"><a href="https://www.instagram.com/makelajussi.photography/"><i class="icon-instagram"></i></a></li>
        </ul>
        <p class="copyright-text">Copyright © 2021 <b>Jussi Mäkelä</b> <br> All Rights Reserved.</p>
        <a href="#" class="back-top">BACK TO TOP</a>
      </div>
    </div>
  </div>
</section>