<!--form name="contact" method="POST" netlify>
  <label for="name">Name</label>
  <input type="text" name="name" id="name" autocomplete="name" placeholder="Your name" title="Please enter your name" required>
  <label for="email">Email</label>
  <input type="email" name="email" id="email" autocomplete="email" placeholder="Your email address" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
  <label for="message">Message</label>
  <textarea name="message" id="message" placeholder="Write your message here" rows="7" required></textarea>
  <button type="submit" name="submit">Send Message</button>
</form-->

<style>
    .hunajaa{
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 0;
        z-index: -1;
    }
</style>

<form id="contact-form" name="contact" class="checkform" netlify-honeypot="name1" method="post" netlify>
                      	
    <div class="form-row clearfix form-field">
        <label for="name" class="req">Name *</label>
        <input type="text" name="name" class="name" id="name" autocomplete="name" placeholder="Name" required/>
        <label class="hunajaa" for="name1"></label>
        <input class="hunajaa" autocomplete="off" type="text" id="name1" name="name1" placeholder="Your name here">
    </div>
    
    <div class="form-row clearfix form-field">
        <label for="email" class="req">Email *</label>
        <input type="text" name="email" class="email" id="email" autocomplete="email" placeholder="Email" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required/>
    </div>
    
    <div class="form-row clearfix textbox form-field">
        <label for="message" class="req">Message *</label>
        <textarea name="message" class="message" id="message" rows="15" cols="50" placeholder="Message" required></textarea>
    </div>
    
    <div id="form-note">
        <div class="alert alert-error pl-0 pr-0">
            <strong>Error</strong>: Please check your entries!
        </div>
    </div>
    
    <div class="form-row form-submit">
      <div class="button-4">
        <div class="eff-4"></div>
        <input type="submit" name="submit" class="submit send_message" value="Send Message" />
        </div>
    </div>
</form>
