<!-- header wrapper -->
<section class="header-wrapper style-two">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-12 text-left">
        <a href="/" class="logo"><img src="/static/img/logo-header1.png" alt="logo"></a>
        <a href="#" class="menu-click"><span></span><span></span><span></span></a>
      </div>
      <div class="col-lg-8 col-md-12">
        {% include "components/nav.njk" %}
      </div>
      <div class="col-lg-2 col-md-4 text-right">
        <ul class="soical-icon-font list-inline pt-2 pb-0">					
          <li class="list-inline-item"><a href="https://twitter.com/makelajussi"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="https://www.linkedin.com/in/makelajussi/"><i class="fa fa-linkedin"></i></a></li>
          <li class="list-inline-item"><a href="https://www.instagram.com/makelajussi.photography/"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- header wrapper -->