<!-- blog section -->
<section class="blog-post style-nine ">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <!-- Article styled with a background, see http://wpvisual.com/source/cabe/home-v12.html# -->
				<!--article class="post-border post-feature has-animation" data-delay="0" style="background-image: url(https://via.placeholder.com/920x500.png);"-->
				{% for post in postslist | reverse %}
				<article class="post-border has-animation" data-delay="0"{% if post.url == url %} data-current="current item"{% endif %}>
          <div class="entry-meta-content">
            <div class="entry-meta">
							<a href="#">{{ post.date | readableDate }} </a><span></span>
							<a href="#"> {{ metadata.author.name }}</a> <span></span>
							{% if post.data.tags %}
								{% for tag in post.data.tags %}
									{%- if tag != "post" -%}
										{% set tagUrl %}/tags/{{ tag }}/{% endset %}
										<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
									{%- endif -%}
								{% endfor %}
							{% endif %}
						</div>
            <h2 class="entry-title">
							<a href="{{ post.url | url }}">
							{% if post.data.title %}
								{{ post.data.title }}
							{% else %}
								Untitled
							{% endif %}
						</a>
						</h2>
            <p class="entry-content">{{ post.data.summary }}</p>
            <a href="{{ post.url }}" class="float-left entry-read-more">CONTINUE READING</a>
            <ul class="social-share list-inline">
              <!--li class="list-inline-item"><a href="#"><i class="fa fa-facebook-square"></i></a></li-->
              <li class="list-inline-item"><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ metadata.url | encodedUriLI }}{{ post.url | encodedUriLI }}&title={{ post.data.title }}" title="LinkedIn Share" target="_blank""><i class="fa fa-linkedin-square"></i></a></li>
              <li class="list-inline-item"><a href="https://twitter.com/intent/tweet?text={{ post.data.title }}&url={{ metadata.url}}{{ post.url }}&via=makelajussi""><i class="fa fa-twitter-square"></i></a></li>
            </ul>
            <span class="entry-meta bold float-right">Share</span>
          </div>
        </article>
				{% endfor %}
      </div>
    </div>
    <!-- load more -->
    <div class="row">
      <div class="d-flex justify-content-center col-sm-12 pad-bottom-75">
        <div class="button-4">
            <div class="eff-4"></div>
            <a href="#"> Load More</a>
        </div>
      </div>
    </div>
    <!-- load more -->
  </div>
</section>
<!-- blog section -->
