<!-- top header -->
<section class="top-header bg-pattern pad-125">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 text-left pad-left-90 pad-right-90 line-link has-animation" data-delay="10">
        <h1 class="title-one"><span>Hi</span> my name is Jussi Mäkelä. I'm an independent consultant with focus on software product development and DevOps in particular.</h3>
      </div>
    </div>
  </div>
</section>
<!-- top header -->