---
layout: layouts/base-notopheader.njk
section: page
sitemapIgnore: true
---

<section class=" pad-75">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 ">
					<div class="notfound-wrapper pad-100 text-center">
						<h1 class="has-animation" data-delay="10">404</h1>
						<p class="has-animation" data-delay="20">
              {{ layoutContent | safe }}
            </p>

						<div class="d-flex justify-content-center col-sm-12 has-animation" data-delay="30">
							<div class="button-4">
							    <div class="eff-4"></div>
							    <a href="/"> Back To Home</a>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</section>
