---
layout: layouts/base-notopheader.njk
permalink: "/about/index.html"
section: about
---

<!-- about wrapper two -->
<section class="about-wrapper pad-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 text-center">
        <div class="page-title pad-bottom-50">
          <h1><b>About me</b></h1>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2 mb50">
        <img src="https://via.placeholder.com/700x800.png.jpg" alt="about-image">
      </div>

      <div class="col-lg-8 offset-lg-2 mb25 text-center">
        <h6><span>I am a troublemaker and developer</span></h6>
      </div>
      <div class="col-lg-8 offset-lg-2 mb25 text-center">
        <h1><b>Obligatory <br>background </b></h1>
      </div>
      <div class="col-lg-4 offset-lg-2 mb25">
        <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren. et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
      </div>
      <div class="col-lg-4 mb25">
        <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren. et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
      </div>
      <div class="col-lg-8 offset-lg-2 text-center">
        <span class="sign">Jussi Mäkelä - Founder, consultant</span>
      </div>
    </div>
  </div>
</section>
	<!-- about wrapper two -->
