---
layout: layouts/base-notopheader.njk
permalink: "/about/index.html"
section: about
---

<!-- about wrapper two -->
<section class="about-wrapper pad-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 text-center">
        <div class="page-title pad-bottom-50">
          <h1><b>About me</b></h1>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2 mb50">
        <img src="../static/img/jussi_7x8.png" alt="about-image">
      </div>

      <div class="col-lg-8 offset-lg-2 mb25 text-center">
        <h6><span>Welcome to my brain</span></h6>
      </div>
      <div class="col-lg-8 offset-lg-2 mb25 text-center">
        <h1><b>Who am I,<br>you ask?</b></h1>
      </div>
      <div class="col-lg-4 offset-lg-2 mb25">
        <p>I don't know what brought you here, or what choice you made to point your browser to this tiny corner of the internet, but you're most welcome. I've been in the software development business for a couple of decades now in various roles. With my chronic allergy to bureaucracy and ineffectiviness I became an early advocate of agile software development practices and later on started fully to focus on helping organisations untangle themselves from the cobweb they spun themselves into. I help development organisations to figure out more effective ways to do product development, plain and simple.</p>
      </div>
      <div class="col-lg-4 mb25">
        <p>I am hugely interested in understanding what makes organisations and the people in them behave the way they do. I put a lot of value in knowledge and wisdom and therefore study great thinkers and writers of the past. I am on a never-ending journey learning to see through collective patterns and what our brains present to us. Some think that makes me a sceptic, I call it healthy dose of realism. Up to you to decide. :)<br />Also, not a huge fan of status quo.</p>
      </div>
      <div class="col-lg-8 offset-lg-2 text-center">
        <span class="sign">Jussi Mäkelä - Founder, consultant</span>
      </div>
    </div>
  </div>
</section>
	<!-- about wrapper two -->
