<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		{% include "components/preloader.njk" %}

		{% include "components/search.njk" %}

		{% include "components/headerwrapper.njk" %}

		{% include "components/topheader.njk" %}

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

		{% include "components/js.njk" %}
		
	</body>

</html>
