---
layout: layouts/base-notopheader.njk
permalink: "/podcast/index.html"
section: podcast
---

<!-- about wrapper two -->
<section class="about-wrapper pad-50">
  <div class="container">
    <div class="row">
      <!--div class="col-lg-6 offset-lg-3 text-center">
        <div class="page-title pad-bottom-50">
          <h1><b>Blah</b></h1>
        </div>
      </div-->
      <div class="col-lg-8 offset-lg-2 mb50">
        <a href="https://scrapingtoasts.com"><img src="../static/img/podcast_logo.png" alt="podcast-image"></a>
      </div>

      <div class="col-lg-8 offset-lg-2 mb25 text-center">
        <h6><span>Welcome to my brain</span></h6>
      </div>
      <div class="col-lg-8 offset-lg-2 mb25 text-center">
        <h1><b>My podcast about organisational effectiveness</b></h1>
      </div>
      <div class="col-lg-4 offset-lg-2 mb25">
        <p>Scraping Toasts is my podcast where I dive into different aspects of organisational effectiveness, product development and the wisdoms we don't seem to be able to really embrace.</p>
      </div>
      <div class="col-lg-4 mb25">
        <p>If you are into that sort of thing, give it a shot! You'll find the podcast on all the typical platforms, so go ahead and look for it in your favourite podcast app or <b><a href="https://scrapingtoasts.com">visit the website</a></b>.</p>
      </div>
      <!--div class="col-lg-8 offset-lg-2 text-center">
        <span class="sign">Jussi Mäkelä - Founder, consultant</span>
      </div-->
    </div>
  </div>
</section>
	<!-- about wrapper two -->
