---
layout: layouts/base.njk
permalink: "/{{ title | slug }}/index.html"
section: post
---

<section class="single-post pad-50">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-12 overlay-image">	
        <div class="entry-media mt-0">
          <img src="{{ image_url }}" alt="post-image">
        </div>
        <div class="entry-header text-center">
          <h4 class="entry-meta style2">{{ metadata.author.name }} <span></span> {{ date | readableDate }} </h4>
          <h1 class="entry-title">{{ title }}</h1>
          <h5></h5>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2 ">
        <div class="entry-content">
          <p>{{ layoutContent | safe }}</p>
          <!--img src="https://via.placeholder.com/1400x900.png" alt="single-image">
          <figcaption class="wp-caption-text">Suspendisse laoreet ut ligula et semper.</figcaption-->
        </div>
        <div class="entry-share-div">
          <h5>Share :</h5>
          <ul class="social-text light list-inline">
            <!--li class="list-inline-item"><a class="text-facebook" href="#">facebook</a></li-->
            <li class="list-inline-item"><a class="text-twiiter" href="https://twitter.com/intent/tweet?text={{ title }}&url={{ metadata.url}}{{ page.url }}&via=makelajussi">Twitter</a></li>
            <li class="list-inline-item"><a class="text-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ metadata.url | encodedUriLI }}{{ page.url | encodedUriLI }}&title={{ title }}">Linkedin</a></li>
          </ul>
        </div>
        <div class="entry-share-div">
          <h5>Tag :</h5>
          <ul class="taglist list-inline">
            <!--li class="list-inline-item"><a class="text-facebook" href="#">Travel</a></li>
            <li class="list-inline-item"><a class="text-twiiter" href="#">Design</a></li>
            <li class="list-inline-item"><a class="text-linkedin" href="#">Beauty</a></li-->
            {% if tags %}
              {% for tag in tags %}
                {%- if tag != "post" -%}
                  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                <li class="list-inline-item"><a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a></li>
                {%- endif -%}
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      </div>
      {% if nextPost.url %}
      <div class="col-lg-10 offset-lg-1 bottom-border text-center next-article top-border">
        <p>Next Article</p>
        <h2><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></h2>
      </div>
      {% endif %}
    </div>
  </div>
</section>
