---
layout: layouts/base.njk
permalink: "/{{ title | slug }}/index.html"
section: post
---

<article>
  <h1>{{ title }}</h1>
  <p>
    <small>
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time> by {{ metadata.author.name }}
    </small>
  </p>

  {{ layoutContent | safe }}

  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

</article>

<nav>
  <a href="{{ '/' | url }}">← Back</a>
</nav>





<section class="single-post pad-50">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-12 overlay-image">	
					<div class="entry-media mt-0">
						<img src="https://via.placeholder.com/1200x571.png" alt="post-image">
					</div>
					<div class="entry-header text-center">
						<h4 class="entry-meta style2">Cabe Deo <span></span> 23 december 2018 <span></span> 5 Comments</h4>
						<h1 class="entry-title">Ways your mother lied to you about food stuffs</h1>
						<h5>A Lightweight Branding Exercise for Startups</h5>
					</div>
				</div>
				<div class="col-lg-8 offset-lg-2 ">
					<div class="entry-content">
						<p>While a logo might be the most recognizable <a href="#">manifestation of a brand</a>, it’s only one of many. Brands cut across media, and present themselves in colors, shapes, words, sounds, and even smells. That’s because a brand, at it’s core, is immaterial. It’s about abstract attributes and values which present themselves in concrete ways:While a logo might be the most recognizable manifestation of a brand, it’s only one of many. Brands cut across media, and present themselves in colors, shapes, words, sounds, and even smells. That’s because a brand, at it’s core, is immaterial. It’s about abstract attributes and values which present themselves in concrete ways:</p>
						<p>While a logo might be the most recognizable manifestation of a brand, it’s only one of many. Brands cut across media, and <a href="#">present themselves in colors</a>, shapes, words, sounds, and even smells. That’s because a brand, at it’s core, is immaterial. It’s about abstract attributes and values which present themselves in concrete ways:While a logo might be the most recognizable manifestation of a brand, it’s only one of many. Brands cut across media, and present themselves in colors, shapes, words, sounds, and even smells. That’s because a brand, at it’s core, is immaterial. It’s about abstract attributes and values which present themselves in concrete ways:</p>
						<h3>The Basic Idea</h3>
						<p>While a logo might be the most recognizable manifestation of a brand, it’s only one of many. Brands cut across media, and present themselves in colors, shapes, words, sounds, and even smells. That’s because a brand, at it’s core, is immaterial. It’s about abstract attributes and values which present themselves in concrete ways:While a logo might be the most recognizable manifestation of a brand, it’s only one of many. Brands cut across media, and present themselves in colors, shapes, words, sounds, and even smells. That’s because a brand, at it’s core, is immaterial. It’s about abstract attributes and values which present themselves in concrete ways:</p>
						<img src="https://via.placeholder.com/1400x900.png" alt="single-image">
						<figcaption class="wp-caption-text">Suspendisse laoreet ut ligula et semper.</figcaption>
						<p>While a logo might be the most recognizable manifestation of a brand, it’s only one of many. Brands cut across media, and present themselves in colors, shapes, words, sounds, and even smells. That’s because a brand, at it’s core, is immaterial. It’s about abstract attributes and values which present themselves in concrete ways:While a logo might be the most recognizable manifestation of a brand, it’s only one of many. Brands cut across media, and present themselves in colors, shapes, words, sounds, and even smells. That’s because a brand, at it’s core, is immaterial. It’s about abstract attributes and values which present themselves in concrete ways:</p>
						<ul>
							<li><b>Virgin America </b>is about quality, fun, innovation, challenging assumptions. You can see it in purple aircraft lighting and quirky safety videos.</li>
							<li><b>Honda </b>is about affordable quality and trust. You can see it in reliable, albeit generic-looking vehicles, and simple and approachable visual design.</li>
							<li><b>Ikea </b>is about cost-consciousness, simplicity and togetherness. You can see it in incredibly affordable furniture, family-oriented stores, and approachable visual design.</li>
						</ul>
						<p>Building a brand is a long-term commitment which results from thousands of interactions between a customer and the brand’s touch points over time.</p>
					</div>
					<div class="entry-share-div">
						<h5>Share :</h5>
						<ul class="social-text light list-inline">
							<li class="list-inline-item"><a class="text-facebook" href="#">facebook</a></li>
							<li class="list-inline-item"><a class="text-twiiter" href="#">Twitter</a></li>
							<li class="list-inline-item"><a class="text-linkedin" href="#">Linkedin</a></li>
							<li class="list-inline-item"><a class="text-instagram" href="#">Instagram</a></li>
						</ul>
					</div>
					<div class="entry-share-div">
						<h5>Tag :</h5>
						<ul class="taglist list-inline">
							<li class="list-inline-item"><a class="text-facebook" href="#">Travel</a></li>
							<li class="list-inline-item"><a class="text-twiiter" href="#">Design</a></li>
							<li class="list-inline-item"><a class="text-linkedin" href="#">Beauty</a></li>
							
						</ul>
					</div>
				</div>

				<div class="col-lg-10 offset-lg-1 bottom-border text-center next-article top-border">
					<p>Next Article</p>
					<h2>The only professional beauty supply resources</h2>
				</div>

				<div class="col-lg-8 offset-lg-2 comments-section bottom-border">
					<div class="comments-list">
						<h5>Comments</h5>
						<div class="mar-top-xs">
							<div class="comment-block mt-0">
								<div class="userpic"><img src="https://via.placeholder.com/100x100.png" alt="Larry"></div>
								<div class="content">
									<h6 class="author-name">Larry</h6><span class="time">July 26 at 8:20 PM</span>
									<p class="comment-text">Enjoyed this a lot and well done. We are an early stage digitally native vertical brand, making travel bags from recycled plastic and we are looking to do some brand exercises in the near future. This should help!</p><a class="reply-link" href="#">Reply</a>
								</div>
							</div>
							
							<div class="comment-block reply">
								<div class="userpic"><img src="https://via.placeholder.com/100x100.png" alt="Larry"></div>
								<div class="content">
									<h6 class="author-name">Barry</h6><span class="time">July 25 at 12:32 PM</span>
									<p class="comment-text">Building a brand is a long-term commitment which results from thousands of interactions between a customer and the brand’s touch points over time.</p><a class="reply-link" href="#">Reply</a>
								</div>
							</div>
							<div class="comment-block">
								<div class="userpic"><img src="https://via.placeholder.com/100x100.png" alt="Larry"></div>
								<div class="content">
									<h6 class="author-name">Frederick</h6><span class="time">July 23 at 8:42 PM</span>
									<p class="comment-text">While a logo might be the most recognizable manifestation of a brand, it’s only one of many. Brands cut across media, and present themselves in colors, shapes, words, sounds, and even smells..</p><a class="reply-link" href="#">Reply</a>
								</div>
							</div>
							<div class="comment-block reply">
								<div class="userpic"><img src="https://via.placeholder.com/100x100.png" alt="Larry"></div>
								<div class="content">
									<h6 class="author-name">Eliza</h6><span class="time">July 22 at 5:12 PM</span>
									<p class="comment-text">Building a brand is a long-term commitment which results from thousands of interactions between a customer and the brand’s touch points over time.</p><a class="reply-link" href="#">Reply</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-8 offset-lg-2 comments-section ">
					<div class="comment-leave">
						<h3>Leave a Comment</h3>
						<form>
							<div class="form-field">
								<label for="comment-text">Comment</label>
								<textarea name="comment-text" id="comment-text" placeholder="Write a comment here..."></textarea>
							</div>
							<div class="form-field">
								<label for="comment-name">Name</label>
								<input type="text" name="comment-name" id="comment-name" placeholder="Your name">
							</div>
							<div class="form-field">
								<label for="comment-email">Email</label>
								<input type="text" name="comment-email" id="comment-email" placeholder="Your email">
							</div>
							<div class="button-4">
							    <div class="eff-4"></div>
							    <button>SEND</button>
							</div>
						</form>
					</div>
				</div>


			</div>
		</div>
	</section>